<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Targets define where to log -->
	<targets>
		<target xsi:type="File" name="logfile" fileName="logs/document-pipeline-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
	</targets>

	<!-- Rules define which logs go to which target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole,logfile" />
	</rules>
</nlog>
